body{
	background-color:#C8C8C8;
}

.header{
	position: relative;
	z-index: 998;
	padding-bottom: 0px;
	margin: 7px 0px;
}
h3{
	font-family:Kulturista;
	display:inline-block;
}

h1{
	font-family:Kulturista;
	text-align:center;

}

table{
	border-width: 
}

}

input{
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #EDEDED;
    color: inherit;
    margin-right: 5px;
    display: inline-block;
    min-width: 100px;
    padding: 10px 15px;
    margin-bottom: 5px;
    line-height: 1.42;
    vertical-align: middle;
    border-radius: 4px;
}