body{
	background-color:#99D98F;
}

.header{
	position: relative;
	z-index: 998;
	padding-bottom: 0px;
	margin: 7px 0px;
}
h3{
	font-family:Kulturista;
	display:inline-block;
}

h1{
	font-family:Kulturista;
	text-align:center;
	color:#105C04;

}
